[Unit]
Description=Github deploy webhook

[Container]
Image=webhook.build
ContainerName=webhook
Volume=<%= $(cd .. && pwd) %>:/app:z
Volume=lsb-ruby-bundle:/usr/local/bundle
WorkingDir=/app
Network=lsb.network

[Service]
Restart=always
TimeoutStartSec=900

